.card {
  border: none;
  width: 100%;
  border-radius: 10px;
  background: #f7f1ff;
  box-shadow: 0 0 100px #1d0c3a;
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}

.small-text {
  font-size: 1em;
  color: #606060;
}

.tag-box {
  font-size: 14px;

  .tag-item {
    display: inline-block;
    background: rgb(109, 108, 128);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;

    &:hover {
      background: rgb(59, 24, 122);
    }
  }
}
