<div *ngIf="books.length != 0">
  <section class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col text-center mb-5">
          <h1 class="display-4 font-weight-bolder text-white text-glow">Catalog</h1>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let item of books | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems: count }"
             class="col-sm-12 col-md-2 col-lg-3 mb-4">
          <a [routerLink]="['book', item.name]" class="card shadow-lg text-white card-text-bg card-has-bg click-col bg-image"
             [ngStyle]="{'background-image': 'url(' + getUrl(item) +')'}">
            <div class="card-img-overlay card-text d-flex flex-column text-glow">
              <div class="card-body">
                <h4 class="card-title mt-0">{{item.name}}</h4>
                <small>{{item.bookType}}</small>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <ul class="tag-box">
                      <li *ngFor="let tag of item.tags" class="tag-item">
                        <i class="fa fa-tag mr-2"></i>
                        {{tag}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <pagination-template *ngIf="pageSize < 1" #p="paginationApi" (pageChange)="onPageChange($event)">
      <div class="container-pg">
        <ul class="pagination">
          <li [class.disabled]="p.isFirstPage()">
            <a *ngIf="!p.isFirstPage()" (click)="previous(p)">Prev</a>
          </li>
          <li>
            <a *ngIf="p.isFirstPage()">Prev</a>
          </li>
          <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <a (click)="setCurrent(p, page)" *ngIf="p.getCurrent() !== page.value">
              <span>{{ page.label }}</span>
            </a>
            <a class="pagination-bg" *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </a>
          </li>
          <li [class.disabled]="p.isLastPage()">
            <a *ngIf="!p.isLastPage()" (click)="next(p)">Next</a>
          </li>
          <li>
            <a *ngIf="p.isLastPage()">Next</a>
          </li>
        </ul>
      </div>
    </pagination-template>
  </section>
</div>
<div *ngIf="books.length == 0">
  <h1 class="text-center text-white text-glow mt-5">No books yet!</h1>
</div>
