<div class="outer">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="panel border bg-white w-40">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold fw-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group pt-3">
                <div class="pt-3">
                  <div class="input-field" [class.input-field-error]="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                    <span class="fa fa-user p-2"></span>
                    <input formControlName="username" class="" type="text" placeholder="Username">
                  </div>
                </div>
              </div>
              <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
              <div class="form-group pt-3">
                <div class="pt-3">
                  <div class="input-field" [class.input-field-error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                    <span class="fa fa-lock p-2"></span>
                    <input formControlName="password" class="" [type]="type" placeholder="Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                  </div>
                </div>
              </div>
              <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
              <div class="form-inline fr mt-4">
                <a class="font-weight-bold forget" data-bs-toggle="modal" data-bs-target="#exampleModal">Forget your password?</a>
              </div>
              <button (click)="onLogin()" [disabled]="loginForm.invalid" type="submit" class="btn btn-dark btn-block mt-4 w-100">Login</button>
              <div class="text-center pt-4 text-muted">Don't have account? <a class="forget" routerLink="/registration">Registration</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">
          <span style="font-size: 25px;font-weight: 700">Forget your password?</span><br>
          <small>Please provide your E-mail we will send the reset link</small>
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="input-field">
            <span class="fa fa-envelope p-2"></span>
            <input [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="text" placeholder="Email">
          </div>
          <small *ngIf="!resetPasswordEmail" class="text-danger">*Email is required</small>
          <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*Email is invalid</small>
        </div>
      </div>
      <div class="modal-footer">
        <button id="closeModalBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="confirmToSend()" type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
