.card {
  color: #fff;
  width: 350px;
  border-radius: 10px;
  border: none;
  background: #5323a9;
  box-shadow: 0 0 100px #1d0c3a;
}

.num {
  color: #eee !important;
}

.line {
  color: #fff;
}

.profile-button {
  color: #fff;
  padding: 10px;
  border: none;
  outline: 0 !important;
  border-radius: 50px;
  background: #3c1980;
  box-shadow: 0 0 100px #1d0c3a;
}
